.navbar {
    background-color: #0E21A0;
    min-height: 65px;
    width: 100%;
    overflow: hidden;

}

.edit_logon, .register_client, .option2, .titulo_listado{

    left: 50%; /* Centra el texto horizontalmente */

}

.edit_logon{

    width: 25px; /* Establece el ancho deseado en píxeles */
    height: 25px;
}

.tree_stripe, .user_logon{
    max-height: 45px;
    top: 10px; /* Ajusta la posición desde la parte superior */
    position: absolute;
}

.tree_stripe {

    left: 10px; /* Ajusta la posición desde la derecha */
}

.user_logon {

    right: 10px; /* Ajusta la posición desde la derecha */

}

.option1, .option2, .option3, .register_client{

    position: absolute;
    transform: translateX(-50%);

}

.option1, .option2, .option3{

    color: white;
    font-family: 'Arial Narrow', sans-serif;
    top: 1px; /* Ajusta la posición desde la parte superior */
    width: 200px;
    height: 44px;
}
.titulo_listado, .register_client, .container-fluid, th, td, thead{

    text-align: center;/* Centrar el contenido horizontalmente */
}
.table1{

    background-color: #e3aacd;
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;


}
.register_client{

    padding: 8px 50px;
    background-color: #9D44C0;
    color: white;

}

.edit_client{

    background-color: #ef7fc3;
    color: white;

}

.edit_client, .register_client{


    border-radius:8px  8px;
    cursor: pointer;
    transition: opacity 0.3s;

}

.register_client:hover{
    opacity: 0.6; /* Cambiar la opacidad del botón cuando se pasa el cursor sobre él */
}

.edit_client:hover{
    opacity: 0.4;
}

.option1{
    left: 35%; /* Centra el texto horizontalmente */
}
.option2, .titulo_listado{
    right: 50%;
}
.option3{
    left: 65%; /* Centra el texto horizontalmente */
}

.container-fluid{

    padding: 20px; /* Añade espacio alrededor de los elementos */
    display: flex;
    position: relative;
}


th, td, thead{

    border: 2px solid #000;
    vertical-align: top;
}



