<div class="row justify-content-center mt-3">
    <div class="col-6">
        <h2 class="text-center text-danger">Eliminar Reserva</h2>
        <hr>
        <div class="text-center mb-3">
            <p>¿Estás seguro que deseas eliminar la reserva {{ reserveDetails?.id }}?</p>
            <ul class="list-group">
                <li class="list-group-item"><strong>Cliente:</strong> {{ roomDetails?.firstName }} {{ roomDetails?.lastName }}</li>
                <li class="list-group-item"><strong>Precio:</strong> {{ roomDetails?.price }}</li>
                <li class="list-group-item"><strong>CheckIn:</strong> {{ roomDetails?.checkIn }}</li>
                <li class="list-group-item"><strong>CheckOut:</strong> {{ roomDetails?.checkOut }}</li>
            </ul>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger me-2" (click)="confirmDelete()">Eliminar</button>
            <button type="button" class="btn btn-secondary" (click)="cancelDelete()">Cancelar</button>
        </div>
        <div class="mb-3" *ngIf="notification">
            <div class="alert alert-dismissible mb-0"
                [ngClass]="notification.success ? 'alert-success' : 'alert-danger'">
                <button type="button" class="btn-close" data-bs-dimiss="alert" (click)="closeNotification()"></button>
                {{ notification.message }}
            </div>
        </div>
    </div>
</div>