<div class="row justify-content-center mt-3">
    <div class="col-4">
        <form [formGroup]="createAdministrativeForm" (ngSubmit)="createAdministrativeForm.valid && createAdministrative()" autocomplete="off">
            <h2 class="text-center text-primary">Registrar administrativo</h2>
            
            <hr>

            <app-text-input
                [formControl]="$any(createAdministrativeForm.controls['dni'])"
                label="RUT o Pasaporte"
                placeholder="Ingrese su RUT (sin puntos y con guión)"
                requiredMessage="El número de identificación es requerido"
            >
            </app-text-input>

            <app-text-input
                [formControl]="$any(createAdministrativeForm.controls['email'])"
                label="Correo electrónico"
                type="email"
                placeholder="Ingrese su correo electrónico"
                requiredMessage="El correo electrónico es obligatorio"
            >
            </app-text-input>

            <app-text-input
                [formControl]="$any(createAdministrativeForm.controls['firstName'])"
                label="Nombre"
                placeholder="Ingrese su nombre"
                requiredMessage="El nombre es obligatorio"
            >
            </app-text-input>

            <app-text-input
                [formControl]="$any(createAdministrativeForm.controls['lastName'])"
                label="Apellido"
                placeholder="Ingrese su apellido"
                requiredMessage="El apellido es obligatorio"
            >
            </app-text-input>

            <app-text-input
                [formControl]="$any(createAdministrativeForm.controls['phone'])"
                label="Número de teléfono"
                span="+569"
                placeholder="Ingrese su número telefónico"
                requiredMessage="El número de teléfono es obligatorio"
            >
            </app-text-input>

            <app-select-input
                [formControl]="$any(createAdministrativeForm.controls['nationality'])"
                label="Nacionalidad"
                defaultOption="Seleccione su nacionalidad"
                [values]="nationalities"
                [options]="nationalities"
                requiredMessage="La nacionalidad es obligatoria"
            >
            </app-select-input>

            <app-date-input
                [formControl]="$any(createAdministrativeForm.controls['birthdate'])"
                label="Fecha de nacimiento"
                placeholder="Ingrese su fecha de nacimiento"
                requiredMessage="La fecha de nacimiento es obligatoria"
                invalidDateMessage="Fecha inválida"
            >
            </app-date-input>

            <div class="mb-3" *ngIf="notification">
                <div class="alert alert-dismissible mb-0" [ngClass]="notification.success ? 'alert-success' : 'alert-danger'">
                    <button type="button" class="btn-close" data-bs-dimiss="alert" (click)="closeNotification()"></button>
                    {{ notification.message }}
                </div>
            </div>

            <div class="text-center">
                <button [disabled]="!createAdministrativeForm.valid" type="submit" class="btn btn-success">Agregar</button>
            </div>
        </form>
    </div>
</div>