<div class="row justify-content-center mb-4">
    <div class="col-10" style="margin-top: 16px;">
        <button
            type="button"
            class="btn btn-primary"
            routerLink="/manage-administratives/create-administrative"
            routerLinkActive="active"
        >
            Agregar nuevo administrativo
        </button>
    </div>

    <div class="col-10 mt-4" *ngIf="notification">
        <div class="alert alert-dismissible mb-0" [ngClass]="notification.success ? 'alert-success' : 'alert-danger'">
            <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="closeNotification()"></button>
            {{ notification.message }}
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-10">
        <pagination-controls 
            (pageChange)="administrativesPage = $event" 
            previousLabel="Anterior" 
            nextLabel="Siguiente">
        </pagination-controls>

        <table class="table table-hover table-responsive-xxl">
            <thead>
                <tr class="table-primary">
                    <th scope="col" class="align-middle" style="width: 15%;">RUT</th>
                    <th scope="col" class="align-middle" style="width: 15%;">Nombre</th>
                    <th scope="col" class="align-middle" style="width: 15%;">Apellido</th>
                    <th scope="col" class="align-middle" style="width: 15%;">Correo electrónico</th>
                    <th scope="col" class="align-middle" style="width: 15%;">Teléfono</th>
                    <th scope="col" class="align-middle" style="width: 15%;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let administrative of administratives$ | filter | paginate: { itemsPerPage: 5, currentPage: administrativesPage}">
                    <td>{{administrative['dni'] | titlecase}}</td>
                    <td>{{administrative['firstName'] | titlecase}}</td>
                    <td>{{administrative['lastName'] | titlecase}}</td>
                    <td>{{administrative['email']}}</td>
                    <td>+56 9{{administrative['phone'] }}</td>
                    <td>
                        <div class="d-flex flex-row gap-2">
                            <button
                                type="button"
                                class="btn btn-primary"
                                routerLink="/manage-administratives/{{administrative['id']}}"
                            >
                            Editar
                            </button>

                            <button
                                type="button"
                                class="btn btn-danger"
                                (click)="deleteAdministrative(administrative['id'])"
                            >
                            Borrar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>