.Register {
    text-align: center;
}

.background {
    background-color: #e0e0e0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rockwell, sans-serif;
}

.div {
    background-color: #cfe8b6;
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 2ch;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rockwell, sans-serif;
}

.div2 {
    display: flex;
    flex-direction: column;
}

input{
    border-color: black;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 1ch;
    width: 60ch;
    border: 1px solid #969c9b;
}

.input:hover{
    border: 1px solid #007d80;
    background-color: #f0f8ff;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.input:focus{
    outline: none;
    border: 2px solid #007d80;
    background-color: #f0f8ff;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.button{
    background-color: #00A9AC;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: Rockwell, sans-serif;
    text-align: center;
}

.button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

.button:active{
    background-color: #005456;
    color: #fff;
}

input.input-error,
select.input-error {
    border-color: red;
}

.error{
    font-size: 14px;
    color: red;
    font-family: Arial;
    margin-top: -0.7ch;
}